---
title: Halo Dunia!
layout: layouts/home.njk
description: Halaman utama.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Gilang, di sini. Ini adalah website yang saya berharap mendapatkan manfaat darinya dan darinya saya membagikan manfaat.  
</p>

<p>
  Semua tentang kode!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>